# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore data or model checkpoints
/data/
/models/
/outputs/

# VS Code
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/